/.vagrant/
/app/build/phpunit.xml
/app/build/api/
/app/build/coverage/
/app/build/logs/
/app/devops/group_vars/*/parameters.yml
/composer.phar
/composer.lock
/vendor/
/.idea/
/nbproject/
/*.sublime-project
/*.sublime-workspace
